apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      serviceAccountName: enterpriseapp-vote-sa
      imagePullSecrets:
        - name: ecr-pull-secret
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
      containers:
        - name: worker
          image: PLACEHOLDER_ECR_URI_WORKER
          env:
            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: enterpriseapp-vote-config
                  key: REDIS_HOST
            - name: DATABASE_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: enterpriseapp-vote-db-secret
                  key: DATABASE_CONNECTION_STRING
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
